# RGB LCD and PSRAM performance settings for ESP32-S3.
CONFIG_COMPILER_OPTIMIZATION_PERF=y
# CONFIG_COMPILER_OPTIMIZATION_SIZE is not set
CONFIG_ESP32S3_DATA_CACHE_LINE_64B=y
# CONFIG_ESP32S3_DATA_CACHE_LINE_32B is not set
CONFIG_SPIRAM_XIP_FROM_PSRAM=y
CONFIG_SPIRAM_FETCH_INSTRUCTIONS=y
CONFIG_SPIRAM_RODATA=y
